<div class="center-block">
  <div class="panel">
    <div class="resend_confirmation">
      <h2>Resend confirmation instructions</h2>

      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, id: "resend_form" }) do |f| %>
        <%#= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="actions">
          <div class="form-group">
            <%= f.submit "Resend confirmation instructions", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>

      <div class="form-group">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
