%div.center-block
sdfasdfasd
%h3 Create a password
= form_for(resource, :as => resource_name, :url => confirm_path) do |f|
  = devise_error_messages!
  %div.field
    = f.password_field :password, :input_html => {:autofocus => true}
  %div.field
    = f.password_field :password_confirmation
    = f.hidden_field :confirmation_token, :as => :hidden, :input_html => { :value => @original_token }
  %div.action
    = f.submit :submit, :label => 'Confirm Account'
    