%div.center-block
  %div.create_password
    %h2 Create a password
    = form_for(resource, :as => resource_name, :url => confirm_path) do |form|
      = devise_error_messages!
      %div.field
        = form.label :password 
        %br/
        = form.password_field :password, :input_html => {:autofocus => true}
      %div.field
        = form.label :password_confirmation
        %br/
        = form.password_field :password_confirmation
      = form.hidden_field :confirmation_token, :input_html => { :value => @original_token }
      %div.actions
        = form.submit :submit, :label => 'Confirm Account'
