%div.center-block
  %div.panel
    %div.create_password
      %h2 Create a password
      = form_for(resource, :as => resource_name, :url => confirm_path, :html => { id: 'create-password' }) do |form|
        / = devise_error_messages!
        %div.form-group
          = form.label :password 
          %br/
          = form.password_field :password, :input_html => {:autofocus => true}
        %div.form-group
          = form.label :password_confirmation
          = form.password_field :password_confirmation
          = form.hidden_field :confirmation_token, :input_html => { :value => @original_token }
        %div.actions
          %div.form-group
            = form.submit :Submit, class: "btn btn-primary"
