<!DOCTYPE html>
<html>
<head>
  <title>CVUploader</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
  <div class="navigation">
    <%= render 'layouts/user_widget' %>
  </div>
  <div id="content">
    <% if notice %>
      <p class="alert-message-div alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert-message-div alert alert-danger"><%= alert %></p>
    <% end %>
    <!-- <div id="flash">
      <%#= flash[:notice] %>
    </div>
    <div id ="devise-flash">
      <%#= flash[:alert] %>
    </div> -->
    <%= yield %>
  </div>
</div>

</body>
</html>
