<!DOCTYPE html>
<html>
<head>
  <title>CVUploader</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
  <div class="navigation">
    <%= render 'layouts/user_widget' %>
  </div>
  <%= flash[:notice] %>
  <div id="content">
    <%= yield %>
  </div>
</div>

</body>
</html>
